<div class="container w-50 shadow">
    <table class="table shadow">
    <thead class=" table-secondary text-center">
      <tr class="py-4">
        <th scope="col">#</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Name</th>
        <th scope="col"> Price</th>
      </tr>
    </thead>
    <tbody class="text-center">
         <tr *ngFor="let item of products; let i=index">
        <th scope="row">{{ i+1 }}</th>
        <td>
          <img [src]="item.image" class="img-fluid" style="max-height: 80px;">
        </td>
        <td>{{ item.name }}</td>
        <td>{{ (item.price * (count)) + 200 }}</td>
      </tr>
    </tbody>
    </table>
    <form class="p-3">
        <h1><i>Cara Wallet</i></h1>
        <!-- <span>{{ (item.price * (item.quantity || 1)) + 200 }}</span> -->
        <label for="">Bank Account (jazzCash,EasyPesa)</label>
        <input type="number" class="form-control mb-2" placeholder="Enter Account No" name="account">
        <input type="number" class="form-control mb-2" placeholder="Enter Amount " name="amount">
           <label for="">Cash on Delivery</label>
        <input type="number" class="form-control mb-2" placeholder="Enter Amount " name="amount">
        <div class="text-center">
            <button class="btn btn-primary" (click)="show()">submit</button>
        </div>
    </form>
</div>